BasedOnStyle: Google
IndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Right
ColumnLimit: 80
IncludeBlocks: Preserve

BraceWrapping:
  AfterStruct: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

SpacesInContainerLiterals: true
SpaceInEmptyParentheses: false
